<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OptionName</key>
		<string>Sample URL video</string>
		<key>OptionAuthor</key>
		<string>Unknown</string>
		<key>OptionURL</key>
		<string>https://content.jwplatform.com/manifests/vM7nH0Kl.m3u8</string>
		<key>OptionType</key>
		<string>URLVideo</string>
	</dict>
	<dict>
		<key>OptionName</key>
		<string>Sample URL audio with image</string>
		<key>OptionAuthor</key>
		<string>Unknown</string>
		<key>OptionURL</key>
		<string>https://s3.amazonaws.com/kargopolov/kukushka.mp3</string>
		<key>OptionImage</key>
		<string>https://i.pinimg.com/originals/87/02/27/8702274a83477a5179cafd4320b95911.jpg</string>
		<key>OptionType</key>
		<string>URLAudio</string>
	</dict>
</array>
</plist>
